<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-vungle"
    version="1.0.0">

    <name>Cordova Vungle</name>
    <description>Vungle rewarded video plugin</description>
    <author>Łukasz Nawrot</author>
    <license>MIT</license>
    <keywords>cordova,plugin,ad,rewardedvideo,vungle</keywords>
    <repo>https://github.com/lnawrot/cordova-vungle</repo>
    <issue>https://github.com/lnawrot/cordova-vungle/issues</issue>

	<engines>
	    <engine name="cordova" version=">=6.0" />
	</engines>

    <js-module src="www/vungle.js" name="vungle">
      <clobbers target="window.Vungle" />
    </js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="VunglePlugin">
				<param name="android-package" value="me.nawrot.cordova.plugin.vungle.VunglePlugin"/>
			</feature>
		</config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.vungle.publisher.VideoFullScreenAdActivity"
             android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
             android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

            <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
             android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
             android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

            <activity android:name="com.vungle.publisher.FlexViewAdActivity"
             android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
             android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

            <service android:name="com.vungle.publisher.VungleService" android:exported="false"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

		<source-file src="src/android/VunglePlugin.java" target-dir="src/me/nawrot/cordova/plugin/vungle" />
        <source-file src="src/android/Actions.java" target-dir="src/me/nawrot/cordova/plugin/vungle" />

        <source-file src="src/android/dagger-2.7.jar" target-dir="libs" />
        <source-file src="src/android/eventbus-2.2.1.jar" target-dir="libs" />
        <source-file src="src/android/javax.inject-1.jar" target-dir="libs" />
        <source-file src="src/android/publisher-sdk-android-5.1.0.jar" target-dir="libs" />
        <source-file src="src/android/rxjava-1.2.0.jar" target-dir="libs" />
	</platform>


    <platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="VunglePlugin">
				<param name="ios-package" value="VunglePlugin" />
			</feature>
		</config-file>

    	<header-file src="src/ios/VunglePlugin.h" />
    	<source-file src="src/ios/VunglePlugin.m" />

        <framework src="src/ios/VungleSDK.framework" custom="true" />

        <framework src="AdSupport.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="Foundation.framework" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.dylib" />
        <framework src="MediaPlayer.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
    </platform>
</plugin>
